<?php $partViewer->view("include/header");?>

<script type="text/javascript">
$(function(){
	var onItemChange = function(itemId) {
		if(itemId) {
			$('#search_button').each(function() {this.disabled = true;});
			$('#itemBlock').html('<span style="color: #999;">Минутку...</span><br><br>');
			var url = LT.Common.selfUrl+'&action=expand';
			$.post(
				url, {itemId: itemId},
				function(data) {
					$('#elementIdContainer').show();
					$('#elementNameContainer').show();
					$('#shortNameContainer').show();

					var str = '';
					if(data.fieldList && data.fieldList.length) {
						str += '<table cellpadding="0" cellspacing="0" width="97%">';
						for(var i in data.fieldList) {
							var content = data.fieldList[i];
							content = content.replace(/\[/g, '<').replace(/\]/g, '>');
							str += (i % 3 == 0 ? '<tr>' : '');
							str += '<td width="30%">'+content+'<br><br></td>';
							str += (i % 3 == 2 ? '</tr>' : '');
						}
						if(data.fieldList.length % 3 == 1) {
							str += '<td width="30%"></td><td width="30%"></td>';
						} else if(data.fieldList.length % 3 == 2) {
							str += '<td width="30%"></td>';
						}
						str += '</table>';

					}
					$('#itemBlock').hide().html(str).fadeIn('fast');
					$('#search_button').each(function() {this.disabled = false;});
				},
				'json');
		} else {
			$('#elementIdContainer').hide();
			$('#elementNameContainer').hide();
			$('#shortNameContainer').hide();
			$('#itemBlock').html('');
			$('#search_button').each(function() {this.disabled = true;});
		}
	};

	$('#itemId').change(function() {
		onItemChange(this.value);
	});

	$('span.dashed').click(function() {
		var itemId = $(this).attr('itemid');
		if(itemId != $('#itemId').val()) {
			$('#itemId').val(itemId);
			onItemChange(itemId);
		}
	});
});
</script>

<div class="path_top"><div><img src="img/path01.gif" width="5" height="8" alt=""></div></div>
<div class="path">Поиск элементов</div>
<div class="path_bottom"><div><img src="img/path04.gif" width="5" height="8" alt=""></div></div>
<br>

<form name="ElementSearchForm" action="<?=$baseUrl?>">
<input type="hidden" name="module" value="ElementSearch">

<div class="record_block_top"><div><img src="img/edit01.gif" width="12" height="12" alt=""></div></div>
<div class="record_block">

<?php $k = 0;?>
<?php if(sizeof($lastItemList)) {?>
<p>Последние выбранные классы:
<?php foreach($lastItemList as $lastItem) {?><?=$k > 0 ? ', ' : ''?><?php $k++;?><span class="hand dashed" itemid="<?=$lastItem->getId()?>"><?=$lastItem->getItemDescription()?></span><?php }?>
</p>
<?php }?>

<table cellpadding="0" cellspacing="0" width="97%">
<tr>
<td width="30%">
Класс элемента:<br>
<select id="itemId" name="itemId" style="width: 90%; font-size: 15px; font-weight: normal; margin-top: 4px;">
<option value="">- Не определено -</option>
<?php foreach($allowedItemList as $item) {?>
<option value="<?=$item->getId()?>"<?=isset($currentItem) && $currentItem->getId() == $item->getId() ? ' selected' : ''?>><?=$item->getItemDescription()?></option>
<?php
}
?>
</select><br><br>
</td>

<td width="30%">

</td>

<td width="30%"></td>
</tr>
</table>

<table cellpadding="0" cellspacing="0" width="97%">
<tr>
<td width="30%">
<div id="elementIdContainer" style="display: <?=isset($currentItem) ? 'block' : 'none'?>;">
ID элемента:<br>
<input class="prop ename" type="text" name="elementId" value="<?=$elementId?>"><br><br>
</div>
</td>

<td width="30%">
<div id="elementNameContainer" style="display: <?=isset($currentItem) ? 'block' : 'none'?>;">
Название элемента:<br>
<input class="prop ename" type="text" name="elementName" value="<?=$elementName?>"><br><br>
</div>
</td>

<td width="30%">
<div id="shortNameContainer" style="display: <?=isset($currentItem) ? 'block' : 'none'?>;">
Название в адресной строке:<br>
<input class="prop ename" type="text" name="shortName" value="<?=$shortName?>"><br><br>
</div>
</td>
</tr>
</table>

<div id="itemBlock">
<?php if(isset($currentItem)) {?>
<table cellpadding="0" cellspacing="0" width="97%">
<?php
	foreach($propertyList as $k => $property) {
		echo $k % 3 == 0 ? '<tr>' : '';
		echo '<td width="30%">'.$property->getClass(null)->printOnelementSearch($form).'<br><br></td>';
		echo $k % 3 == 2 ? '</tr>' : '';
	}
?>
</table>
<?php }?>
</div>

<input class="btn" type="submit" id="search_button" value="Найти"<?=isset($currentItem) ? '' : ' disabled="true"'?> style="width: 100px;">

</div>
<div class="record_block_bottom"><div><img src="img/edit04.gif" width="12" height="12" alt=""></div></div>
<br>

</form>

<?php
if($pager && $pager->getTotal()) {
	$orderBy = $pager->getCriteria()->getOrder()->getLast();
?>

<p>Найдено <?=$pager->getTotal().' '.RussianTextUtils::selectCaseForNumber($pager->getTotal(), array('элемент', 'элемента', 'элементов'))?></p>

<table id="element_table_<?=$currentItem->getId()?>" class="elements-list">
<col class="width-25">
<tr>
<th class="center"><?php if($orderBy->getField() == $currentItem->getOrderBy()->getField() && $orderBy->isAsc() == $currentItem->getOrderBy()->isAsc()) {?><img src="img/ico_browse_default_sorting_inactive.gif" alt="Убрать сортировку"><?php } else {?><a href="<?=$selfUrl?>&elementId=&sortItemId=<?=$currentItem->getId()?>&sortPropertyName=<?=$currentItem->getOrderBy()->getField()?>&sortDirection=<?=$currentItem->getOrderBy()->isAsc() ? 'asc' : 'desc'?>"><img src="img/ico_browse_default_sorting.gif" alt="Убрать сортировку"></a><?php }?></th>
<?php
$direction = $orderBy->getField() == 'elementName' && $orderBy->isAsc() ? 'desc' : 'asc';
$alt = $orderBy->getField() == 'elementName' && $orderBy->isAsc() ? 'Сортировать по убыванию' : 'Сортировать по возрастанию';
$arrow = $orderBy->isAsc() ? '<img src="img/sort_up_arr.gif" class="sort" alt="Отсортировано по возрастанию" title="Отсортировано по возрастанию">' : '<img src="img/sort_down_arr.gif" class="sort" alt="Отсортировано по убыванию" title="Отсортировано по убыванию">';
?>
<th><a href="<?=$selfUrl?>&elementId=&sortItemId=<?=$currentItem->getId()?>&sortPropertyName=elementName&sortDirection=<?=$direction?>" title="<?=$alt?>"><?=$currentItem->getMainPropertyDescription()?></a><?=$orderBy->getField() == 'elementName' ? $arrow : ''?></th>
<?php
		foreach($propertyList as $property) {
			if(!$property->getIsShow()) continue;
			$direction = $orderBy->getField() == $property->getPropertyName() && $orderBy->isAsc() ? 'desc' : 'asc';
			$alt = $orderBy->getField() == $property->getPropertyName() && $orderBy->isAsc() ? 'Сортировать по убыванию' : 'Сортировать по возрастанию';
?>
<th><a href="<?=$selfUrl?>&elementId=&sortItemId=<?=$currentItem->getId()?>&sortPropertyName=<?=$property->getPropertyName()?>&sortDirection=<?=$direction?>" title="<?=$alt?>"><?=$property->getPropertyDescription()?></a><?=$orderBy->getField() == $property->getPropertyName() ? $arrow : ''?></th>
<?php
	}
?>
</tr>
<?php
		foreach($elementList as $element) {
?>
<tr id="element_row_<?=$currentItem->getId()?>_<?=$element->getId()?>" valign="top">
<td class="<?php if($currentItem->getIsFolder()) {?>folder<?php } else { ?>file<?php } ?>"><?php if($currentItem->getIsFolder()) {?><a href="<?=$baseUrl?>?module=ViewBrowse&elementId=<?=$element->getPolymorphicId()?>" title="Ниже"><img src="img/0.gif" width="18" height="18" alt="Ниже"></a><?php } else { ?><a href="<?=$baseUrl?>?module=ViewBrowse&elementId=<?=$element->getPolymorphicId()?>" title="Ниже"><img src="img/0.gif" width="18" height="18" alt="Ниже"></a><?php } ?></td>
<td><div class="edit"><a href="<?=$baseUrl?>?module=ElementEdit&elementId=<?=$element->getPolymorphicId()?>" title="Редактировать"><img src="img/0.gif" width="18" height="18" alt="Редактировать"><?=$element->getElementName()?></a></div></td>
<?php
			foreach($propertyList as $property) {
				if(!$property->getIsShow()) continue;
				$propertyClass = $property->getClass($element)->setParameters();
?>
<td><?=$propertyClass->getElementListView()?></td>
<?php
			}
?>
</tr>
<?php
		}
?>
</table>
<?php
		if($pager->getPageCount() > 1) {
			$tens = ceil(log10($pager->getPageCount()));
			echo '<br class="both"><div class="pager"><span>Страницы:</span> ';
			if($pager->hasPrevPage()) {
				echo '<a id="prev_page" href="'.$baseUrl.'?'.UrlUtils::create()->getUrlWithoutParameter('page').'page='.$pager->getPrevPage().'" title="Предыдущая (Ctrl + Влево)">&larr;</a>';
			}
			foreach($pager->getPageList() as $page) {
				if($page == $pager->getCurrentPage()) {
					echo '<b>'.sprintf('%0'.$tens.'d', $page).'</b>';
				} else {
					echo '<a href="'.$baseUrl.'?'.UrlUtils::create()->getUrlWithoutParameter('page').'page='.$page.'" title="">'.sprintf('%0'.$tens.'d', $page).'</a>';
				}
			}
			if($pager->hasNextPage()) {
				echo '<a id="next_page" href="'.$baseUrl.'?'.UrlUtils::create()->getUrlWithoutParameter('page').'page='.$pager->getNextPage().'" title="Следующая (Ctrl + Вправо)">&rarr;</a>';
			}
			echo '</div><br class="both">';
		}
?>
<div class="line">&nbsp;</div>
<?php
	} elseif($pager) {
?>

<p>Элементов не найдено. Попробуйте изменить параметры поиска.</p>

<?php
	}
?>

<?php $partViewer->view("include/footer");?>