<?php $partViewer->view("include/header");?>

<?php
$defaultShortname =
	$currentElement->getId()
	? $currentItem->getPathPrefix().$currentElement->getId()
	: '';
?>

<script type="text/javascript" src="<?=PATH_WEB_JS?>linktree.js"></script>
<script type="text/javascript" src="<?=PATH_WEB_JS?>multilinktree.js"></script>
<script type="text/javascript" src="<?=PATH_WEB_JS?>point.js"></script>
<script type="text/javascript" src="<?=PATH_WEB_JS?>tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
$(function() {
	var currentShortName = '';

	LT.Common.mainForm = $('#ElementEditForm');

	LT.Common.mainForm.submit(function() {
		$('textarea[tinymce=true]').each(function() {
			this.value = tinyMCE.get(this.name).getContent();
		});
		$('input[onetoone=name]').blur();
<?php if($currentElement->getId()) {?>
		LT.Common.ajaxSubmit(function(data){
			if(data.propertyContent && data.propertyContent.length) {
				for(var i in data.propertyContent) {
					var content = data.propertyContent[i].propertyContent;
					content = content.replace(/\[\[\[/g, '<').replace(/\]\]\]/g, '>');
					$('#content_'+data.propertyContent[i].propertyName).html(content);
				}
			}
			if(data.elementId && data.elementName && top.tree) {
				top.tree.LT.Tree.replaceNode(data.elementId, data.elementName);
			}
		});
<?php } else {?>
		LT.Common.ajaxSubmit(function(data){
			if(data.tree && data.tree.length && top.tree) {
				top.tree.LT.Tree.dropTree();
				for(var i in data.tree) {
					top.tree.LT.Tree.addElement(data.tree[i].parentId, data.tree[i].elementId, data.tree[i].elementName, data.tree[i].permissionId, data.tree[i].openFolder);
				}
				top.tree.LT.Tree.buildTree();
			}
			if(data.parentId) {
				document.location.href = LT.Common.baseUrl+'?module=ViewBrowse&elementId='+data.parentId;
			} else {
				document.location.href = LT.Common.baseUrl+'?module=ViewBrowse';
			}
		});
<?php }?>
		return false;
 	});

 	if(top.tree) {
 		top.tree.LT.Tree.showFolder('<?=$activeElement->getPolymorphicId()?>');
 	}

 	$('input[name=elementName]').focus();

 	$('#browse_up').click(function(){
		document.location.href = '<?=$selfUrl?>&elementId=<?=$currentElement->getParent()->getPolymorphicId()?>';
	}).mousedown(function(){
		$(this).css({backgroundPosition: '0 -54px'});
	}).mouseup(function(){
		$(this).css({backgroundPosition: '0 0'});
	}).mouseover(function(){
		$(this).css({backgroundPosition: '0 0'});
	}).mouseout(function(){
		$(this).css({backgroundPosition: '0 -108px'});
	}).css({backgroundPosition: '0 -108px'});

<?php if(!$currentElement->getId() || $permission >= Permission::PERMISSION_WRITE_ID) {?>
 	$('#browse_save').click(function(){
		$(LT.Common.mainForm).submit();
	}).mousedown(function(){
		$(this).css({backgroundPosition: '0 -54px'});
	}).mouseup(function(){
		$(this).css({backgroundPosition: '0 0'});
	}).mouseover(function(){
		$(this).css({backgroundPosition: '0 0'});
	}).mouseout(function(){
		$(this).css({backgroundPosition: '0 -108px'});
	}).css({backgroundPosition: '0 -108px'});
<?php }?>

<?php if($currentElement->getId() && $permission >= Permission::PERMISSION_DROP_ID) {?>
 	$('#browse_drop').click(function(){
		if(!confirm('Удалить элемент?')) {
			return false;
		}
		var url = LT.Common.selfUrl+'&action=drop&elementId=<?=$currentElement->getPolymorphicId()?>';
		LT.Common.ajaxPost(url, {}, function(data){
			if(data.dropped && data.dropped.length && top.tree) {
				top.tree.LT.Tree.dropNode(data.dropped);
			}
			if(data.returnElementId) {
				document.location.href = LT.Common.baseUrl+'?module=ViewBrowse&elementId='+data.returnElementId;
			}
		});
	}).mousedown(function(){
		$(this).css({backgroundPosition: '0 -54px'});
	}).mouseup(function(){
		$(this).css({backgroundPosition: '0 0'});
	}).mouseover(function(){
		$(this).css({backgroundPosition: '0 0'});
	}).mouseout(function(){
		$(this).css({backgroundPosition: '0 -108px'});
	}).css({backgroundPosition: '0 -108px'});

	$('#browse_move').click(function(){
<?php 	if($currentElement->getStatus() == 'trash') {?>
		if(!confirm('Восстановить элемент?')) {
			return false;
		}
		var url = LT.Common.selfUrl+'&action=restore&elementId=<?=$currentElement->getPolymorphicId()?>';
		LT.Common.ajaxPost(url, {}, function(data){
			if(data.tree && data.tree.length && top.tree) {
				top.tree.LT.Tree.dropTree();
				for(var i in data.tree) {
					top.tree.LT.Tree.addElement(data.tree[i].parentId, data.tree[i].elementId, data.tree[i].elementName, data.tree[i].permissionId, data.tree[i].openFolder);
				}
				top.tree.LT.Tree.buildTree();
			}
			if(data.returnElementId) {
				document.location.href = LT.Common.baseUrl+'?module=ViewBrowse&elementId='+data.returnElementId;
			}
		});
<?php 	} else {?>
		LT.Common.mainForm.each(function() {
			this.action = LT.Common.baseUrl+'?module=ElementMove';
			this.submit();
		});
<?php 	}?>
	}).mousedown(function(){
		$(this).css({backgroundPosition: '0 -54px'});
	}).mouseup(function(){
		$(this).css({backgroundPosition: '0 0'});
	}).mouseover(function(){
		$(this).css({backgroundPosition: '0 0'});
	}).mouseout(function(){
		$(this).css({backgroundPosition: '0 -108px'});
	}).css({backgroundPosition: '0 -108px'});
<?php }?>

	$('#checkShortName').click(function(){
		if(this.checked) {
			$('input[name=shortName]').each(function() {
				this.value = currentShortName;
				this.disabled = false;
				this.focus();
			});
		} else {
			$('input[name=shortName]').each(function() {
				currentShortName = this.value;
				this.value = '<?=$defaultShortname?>';
				this.disabled = true;
			});
		}
	});

	$('input:text[timestamp=true]').change(function() {
		setTimestamp($(this).attr('property'));
	}).keyup(function() {
		setTimestamp($(this).attr('property'));
	});

	$('input:text[time=true]').change(function() {
		setTime($(this).attr('property'));
	}).keyup(function() {
		setTime($(this).attr('property'));
	});

	$('input[onetoone=name]').live('click', function() {
		var main = $(this).attr('main');
		var itemId = $(this).attr('itemId');
		var propertyName = $(this).attr('propertyName');

		if($(this).val() == main) {
			$(this).css('color', 'black').val('');
		}

		$(this).autocomplete({
			source: '<?=$baseUrl?>?module=ElementSearch&action=hint&itemId='+itemId+'&print',
			select: function(event, ui) {
				$('input[name='+propertyName+']').val(ui.item.id);
				$('input[name='+propertyName+'_name]').css('color', 'black').val(ui.item.value);
				$('#'+propertyName+'_show').css('color', 'grey').html(ui.item.value);
			},
			minLength: 0
		});
	}).live('focus', function() {
		var main = $(this).attr('main');
		if($(this).val() == main) {
			$(this).css('color', 'black').val('');
		}
	}).live('change', function() {
		var main = $(this).attr('main');
		if($(this).val() == '') {
			$(this).css('color', 'grey').val(main);
		}
	}).live('blur', function() {
		var main = $(this).attr('main');
		if($(this).val() == '') {
			$(this).css('color', 'grey').val(main);
		}
	});

	$('span[onetoone=reset]').live('click', function() {
		var propertyName = $(this).attr('propertyName');
		var main = $('input[name='+propertyName+'_name]').attr('main');

		if($('input[name='+propertyName+']').val()) {
			$('input[name='+propertyName+']').val('');
			$('#'+propertyName+'_show').css('color', 'grey').html('не определено');
		}

		$('input[name='+propertyName+'_name]').css('color', 'grey').val(main);
	});

	$('input[link=name]').live('click', function() {
		var main = $(this).attr('main');
		if($(this).val() == main) {
			$(this).css('color', 'black').val('');
		}

	}).live('focus', function() {
		var main = $(this).attr('main');
		var propertyId = $(this).attr('propertyId');
		var propertyName = $(this).attr('propertyName');

		if($(this).val() == main) {
			$(this).css('color', 'black').val('');
		}

		$(this).autocomplete({
			source: '<?=$baseUrl?>?module=ElementSearch&action=multihint&propertyId='+propertyId+'&print',
			select: function(event, ui) {
				$('input[name='+propertyName+']').val(ui.item.id);
				$('input[name='+propertyName+'_name]').css('color', 'black').val(ui.item.value);
				$('#'+propertyName+'_show').css('color', 'grey').html(ui.item.value);
			},
			minLength: 0
		});
	}).live('change', function() {
		var main = $(this).attr('main');
		if($(this).val() == '') {
			$(this).css('color', 'grey').val(main);
		}
	}).live('blur', function() {
		var main = $(this).attr('main');
		if($(this).val() == '') {
			$(this).css('color', 'grey').val(main);
		}
	});

	$('span[link=reset]').live('click', function() {
		var propertyName = $(this).attr('propertyName');
		var main = $('input[name='+propertyName+'_name]').attr('main');

		if($('input[name='+propertyName+']').val()) {
			$('input[name='+propertyName+']').val('');
			$('#'+propertyName+'_show').css('color', 'grey').html('Не определено');
		}

		$('input[name='+propertyName+'_name]').css('color', 'grey').val(main);
	});
});

var onTimeMousewheel = function(object, delta) {
	var max = object.attr('max');
	var val = object.val();

	val = Math.round(val) + (delta > 0 ? 1 : -1);

	if(val > max) val = 0;
	if(val < 0) val = max;
	if(val < 10) val = '0'+val;

	object.val(val);
}

var setTimestamp = function(propertyName) {
	$('#'+propertyName).val(
		$('#'+propertyName+'_date').val()
		+' '+$('#'+propertyName+'_hour').val()
		+':'+$('#'+propertyName+'_minute').val()
		+':'+$('#'+propertyName+'_second').val()
	);
}

var setTime = function(propertyName) {
	if(
		$('#'+propertyName+'_hour').val()
		|| $('#'+propertyName+'_minute').val()
		|| $('#'+propertyName+'_second').val()
	) {
		if(!$('#'+propertyName+'_hour').val()) {
			$('#'+propertyName+'_hour').val('00');
		}
		if(!$('#'+propertyName+'_minute').val()) {
			$('#'+propertyName+'_minute').val('00');
		}
		if(!$('#'+propertyName+'_second').val()) {
			$('#'+propertyName+'_second').val('00');
		}
		$('#'+propertyName).val(
			$('#'+propertyName+'_hour').val()
			+':'+$('#'+propertyName+'_minute').val()
			+':'+$('#'+propertyName+'_second').val()
		);
	} else {
		$('#'+propertyName).val(null);
	}
}

function fileManagerCallback(propertyName, url, type, window) {
	tinyMCE.activeEditor.windowManager.open({
        file : '<?=$baseUrl?>?module=FileManager&url='+url+'&type='+type,
        title: 'Файловый менеджер',
        width: 750,
		height: 500,
        resizable: 'no',
		inline: 'yes',
        close_previous: 'yes'
    }, {
        window: window,
        input: propertyName
    });

    window.close();

	return false;
}
</script>

<!-- path block -->
<div class="path_top"><div><img src="img/path01.gif" width="5" height="8" alt=""></div></div>
<div class="path">
<?php
if($currentElement->getStatus() == 'trash') {
?>
<a href="<?=$baseUrl?>?module=ViewBrowse&elementId=<?=Root::trash()->getPolymorphicId()?>"><?=Root::trash()->getElementName()?></a> &nbsp;<img src="img/path_arr2.gif" alt="">
<?php
} else {
	foreach($parentList as $parent) {
?>
<a href="<?=$baseUrl?>?module=ViewBrowse&elementId=<?=$parent->getPolymorphicId()?>"><?=$parent->getElementName()?></a> &nbsp;<img src="img/path_arr2.gif" alt="">
<?php
	}
}
if($mode == 'edit') {
?>
&nbsp;<a href="<?=$baseUrl?>?module=ViewBrowse&elementId=<?=$currentElement->getPolymorphicId()?>"><?=$currentElement->getElementName()?></a>
<?php
} else {
?>
<span>Новый элемент</span>
<?php
}
?>
</div>
<div class="path_bottom"><div><img src="img/path04.gif" width="5" height="8" alt=""></div></div>
<!-- end of path block -->

<!-- buttons block -->
<div class="browse-control">
<div class="fleft">
<img src="img/0.gif" id="browse_up" class="off" width="45" height="54" alt="Наверх" title="Наверх">
<img src="img/0.gif" id="browse_edit" class="off" width="78" height="54" alt="Редактировать" title="Редактировать">
<img src="img/separator.gif" width="1" height="48" alt="" class="separator">
<img src="img/0.gif" id="browse_save" width="59" height="54" alt="Сохранить" title="Сохранить">
<img src="img/0.gif" id="browse_drop" width="49" height="54" alt="Удалить" title="Удалить">
<?php if($currentElement->getStatus() == 'trash') {?><img src="img/0.gif" id="browse_move" width="69" height="54" alt="Восстановить" title="Восстановить"><?php } else {?><img src="img/0.gif" id="browse_move" width="69" height="54" alt="Перенести" title="Перенести"><?php }?>
</div>
<br class="both">
</div>
<!-- end of buttons block -->

<br>

<!-- plugin block -->
<?php
if(isset($pluginModelAndView) && $pluginModelAndView instanceof ModelAndView) {
	$pluginModelAndView->getView()->render($pluginModelAndView->getModel());
}
?>
<!-- end of plugin block -->

<?php if($currentElement->getId()) {?>
<?php 	if($permission >= Permission::PERMISSION_WRITE_ID) {?>
<form id="ElementEditForm" name="ElementEditForm" action="<?=$selfUrl?>&action=save&elementId=<?=$currentElement->getPolymorphicId()?>" method="post">
<input type="hidden" name="elementId" value="<?=$currentElement->getPolymorphicId()?>">
<input type="hidden" name="sourceId" value="<?=$currentElement->getParent()->getPolymorphicId()?>">
<input type="hidden" name="check[]" value="<?=$currentElement->getPolymorphicId()?>">
<?php 	}?>
<?php } else {?>
<form id="ElementEditForm" name="ElementEditForm" action="<?=$selfUrl?>&action=add&parentId=<?=$currentElement->getParent()->getPolymorphicId()?>&itemId=<?=$currentElement->getItem()->getId()?>" method="post">
<?php }?>

<?php if($currentElement->getId() && $controllerName != 'error') {?><div class="order_link"><a href="<?=$currentElement->get('href')?>" target="_blank" title="Откроется в новом окне"><img src="img/ico_popup.gif" width="14" height="11" alt="Откроется в новом окне">&nbsp;<em>Смотреть страницу на сайте</em></a></div><?php }?>
<h2 class="h2_marg" title="<?=$currentElement->getId() ? "ElementID = ".$currentElement->getId().", " : ""?>ClassName = <?=$currentItem->getItemName()?>"><?=$mode == "create" ? "Добавление" : "Редактирование"?> элемента типа <span class="grey"><?php echo $currentItem->getItemDescription();?></span></h2>

<div class="record_block_top"><div><img src="img/edit01.gif" width="12" height="12" alt=""></div></div>

<div class="record_block">
<?=$currentItem->getMainPropertyDescription()?>:<br>
<table class="ie"><tr><td><input type="text" class="prop ename" name="elementName" value="<?=$currentElement ? str_replace('"', '&quot;', $currentElement->getElementName()) : ''?>" maxlength="255"></td></tr></table><br>
<?php
foreach ($propertyList as $property) {
	$propertyClass = $property->getClass($currentElement)->setParameters();
	if($propertyClass->getParameterValue('hidden') == false) {
		echo '<div id="content_'.$property->getPropertyName().'">';
		echo $propertyClass->getEditElementView();
		echo '</div>';
	}
}
?>
</div>

<div class="record_block_bottom"><div><img src="img/edit04.gif" width="12" height="12" alt=""></div></div>

<br>

<div class="record_block_top"><div><img src="img/edit01.gif" width="12" height="12" alt=""></div></div>

<div class="record_block">
<table cellpadding="0" width="90%" cellspacing="0">
<tr valign="top">
<td width="50%">
<span class="grey">
<?php if($currentElement->getId()) {?>ID элемента: <?=$currentElement->getPolymorphicId()?><br><?php } else {?>Класс элемента: <?=$currentElement->getClass()?><br><?php }?>
<?php if($currentElement->getElementPath()) {?>Адрес элемента: <?=$currentElement->getElementPath()?><br><?php }?>
Контроллер: <?=$controllerName?>
</span>
</td>
<td width="50%">
<?php if($currentItem->getIsUpdatePath()) {?>
<input type="checkbox" id="checkShortName" name="checkShortName" value="1" title="Отметить"<?=($currentElement->getShortName() != $defaultShortname) ? ' checked' : ''?>>
<label for="checkShortName">Название в адресной строке:</label><br>
<input type="text" name="shortName" value="<?=$currentElement->getShortName()?>" class="prop"<?=($currentElement->getShortName() == $defaultShortname) ? ' disabled="disabled"' : ''?>>
<?php } else {?>
Название в адресной строке:<br>
<input type="text" name="shortName" value="" class="prop" disabled="disabled">
<?php }?>
</td>
</tr>
</table>
</div>

<div class="record_block_bottom"><div><img src="img/edit04.gif" width="12" height="12" alt=""></div></div>

<br>

<?php if($currentElement->getId()) {?>
<?php 	if($permission >= Permission::PERMISSION_WRITE_ID) {?>
<input class="btn" type="submit" id="save_button" value="Ctrl+S Сохранить">
</form>
<?php 	}?>
<?php } else {?>
<input class="btn" type="submit" id="save_button" value="Ctrl+S Добавить">
</form>
<?php }?>

<?php $partViewer->view("include/footer");?>