<!-- Поля объекта -->

<div class="order_link order_item_field">
<a href="<?=$baseUrl?>?module=PropertyOrder&itemId=<?=$currentItem->getId()?>" order="true" title="Изменить порядок объектов"><img src="img/ico_order_sm.gif" width="15" height="15" alt="Откроется в новом окне" title="Откроется в новом окне">&nbsp;<em>Поля объекта</em></a>:
</div><br class="both">

<table id="property_table_field" class="elements-list">
<tr>
	<th class="width-25" title="Показывать поле в списке элементов"><img src="img/ico_view_in_list.gif" alt="Показывать поле в списке элементов"></th>
	<th class="width-25" title="Обязательное поле"><img src="img/ico_view_in_list.gif" alt="Обязательное поле"></th>
	<th width="66%">Описание поля</th>
	<th width="33%">Название</th>
	<th colspan="2">Тип</th>
	<th class="width-25"><img src="img/ico_del.png" alt="Удалить"></th>
</tr>
<?php foreach($propertyList as $property) { ?>
<?php if(in_array($property->getPropertyClass(), array('OneToOneProperty', 'ParentProperty', 'OneToManyProperty'))) continue;?>
<tr id="property_row_<?=$property->getId()?>">
	<td><input type="checkbox" name="isShow_<?=$property->getId()?>" value="1"<?=$property->getIsShow() ? ' checked' : ''?> title="Выбрать"></td>
	<td><input type="checkbox" name="isRequired_<?=$property->getId()?>" value="1"<?=$property->getIsRequired() ? ' checked' : ''?> title="Выбрать"></td>
	<td><input type="text" class="item-name" name="propertyDescription_<?=$property->getId()?>" value="<?=$property->getPropertyDescription()?>"></td>
	<td><input type="text" class="item-name" name="propertyName_<?=$property->getId()?>" value="<?=$property->getPropertyName()?>"></td>
	<td><?php if($currentItem->getClassType() == 'default') {?><a id="parameterListButton_<?=$property->getId()?>" href="<?=$baseUrl?>?module=ParameterList&propertyId=<?=$property->getId()?>" target="_blank" title="Параметры поля"><img src="img/ico_popup.gif" alt="Параметры поля"></a><?php }?></td>
	<td><select name="propertyClass_<?=$property->getId()?>" class="prop-select" style="width: 210px;"><?php foreach($propertyClassList as $propertyClass => $propertyDescription) { ?><option value="<?=$propertyClass?>"<?=$propertyClass == $property->getPropertyClass() ? ' selected' : ''?>><?=$propertyDescription?></option><?php } ?></select></td>
	<td class="center"><input type="checkbox" name="drop_<?=$property->getId()?>" value="1" title="Удалить"></td>
</tr>
<?php } ?>
<tr id="property_row_add_field">
	<td><input type="checkbox" name="isShow_add_field" value="1" title="Выбрать"></td>
	<td><input type="checkbox" name="isRequired_add_field" value="1" title="Выбрать"></td>
	<td><input type="text" class="item-name" name="propertyDescription_add_field" value=""></td>
	<td><input type="text" class="item-name" name="propertyName_add_field" value=""></td>
	<td><?php if($currentItem->getClassType() == 'default') {?><a id="parameterListButton_add_field" href="" target="_blank" title="Параметры поля" style="display: none;"><img src="img/ico_popup.gif" alt="Параметры поля"></a><?php }?></td>
	<td><select name="propertyClass_add_field" class="prop-select" style="width: 210px;"><option value="">- Выберите тип поля -</option><?php foreach($propertyClassList as $propertyClass => $propertyDescription) { ?><option value="<?=$propertyClass?>"><?=$propertyDescription?></option><?php } ?></select></td>
	<td class="center"><input type="checkbox" name="drop_add_field" value="1" title="Удалить" style="display: none;"></td>
</tr>
</table>
<br>

<!-- Связи 1:1 -->

<div class="order_link order_item_field">
<a href="<?=$baseUrl?>?module=PropertyOrder&itemId=<?=$currentItem->getId()?>" order="true" title="Изменить порядок объектов"><img src="img/ico_order_sm.gif" width="15" height="15" alt="Откроется в новом окне" title="Откроется в новом окне">&nbsp;<em>Связи 1:1</em></a>:
</div><br class="both">

<table id="property_table_onetoone" class="elements-list">
<tr>
	<th class="width-25" title="Показывать поле в списке элементов"><img src="img/ico_view_in_list.gif" alt="Показывать поле в списке элементов"></th>
	<th class="width-25" title="Обязательное поле"><img src="img/ico_view_in_list.gif" alt="Обязательное поле"></th>
	<th width="66%">Описание поля</th>
	<th width="33%">Название</th>
	<th></th>
	<th>Объект</th>
	<th>Стратегия</th>
	<th>Удаление</th>
	<th class="width-25"><img src="img/ico_del.png" alt="Удалить"></th>
</tr>
<?php foreach($propertyList as $property) { ?>
<?php if($property->getPropertyClass() != 'OneToOneProperty') continue;?>
<tr id="property_row_<?=$property->getId()?>">
<input type="hidden" name="propertyClass_<?=$property->getId()?>" value="OneToOneProperty">
	<td><input type="checkbox" name="isShow_<?=$property->getId()?>" value="1"<?=$property->getIsShow() ? ' checked' : ''?> title="Выбрать"></td>
	<td><input type="checkbox" name="isRequired_<?=$property->getId()?>" value="1"<?=$property->getIsRequired() ? ' checked' : ''?> title="Выбрать"></td>
	<td><input type="text" class="item-name" name="propertyDescription_<?=$property->getId()?>" value="<?=$property->getPropertyDescription()?>"></td>
	<td><input type="text" class="item-name" name="propertyName_<?=$property->getId()?>" value="<?=$property->getPropertyName()?>"></td>
	<td><?php if($currentItem->getClassType() == 'default') {?><a id="parameterListButton_<?=$property->getId()?>" href="<?=$baseUrl?>?module=ParameterList&propertyId=<?=$property->getId()?>" target="_blank" title="Параметры поля"><img src="img/ico_popup.gif" alt="Параметры поля"></a><?php }?></td>
	<td><select name="fetchClass_<?=$property->getId()?>" class="prop-select" style="width: 210px;"><option value="Root">Корневой раздел</option><?php foreach($fetchClassList as $item) {?><option value="<?=$item->getItemName()?>"<?=$item->getItemName() == $property->getFetchClass() ? ' selected' : ''?>><?=$item->getItemDescription()?></option><?php }?></select></td>
	<td><select name="fetchStrategyId_<?=$property->getId()?>" class="prop-select" style="width: 75px;"><option value="<?=FetchStrategy::JOIN?>">JOIN</option><option value="<?=FetchStrategy::CASCADE?>"<?=$property->getFetchStrategyId() == FetchStrategy::CASCADE ? ' selected' : ''?>>CASCADE</option><option value="<?=FetchStrategy::LAZY?>"<?=$property->getFetchStrategyId() == FetchStrategy::LAZY ? ' selected' : ''?>>LAZY</option></select></td>
	<td><select name="onDelete_<?=$property->getId()?>" class="prop-select" style="width: 75px;"><?php foreach(Property::getOnDeleteActionList() as $actionName => $actionDescription) {?><option value="<?=$actionName?>"<?=$property->getOnDelete() == $actionName ? ' selected' : ''?>><?=$actionDescription?></option><?php }?></select></td>
	<td class="center"><input type="checkbox" name="drop_<?=$property->getId()?>" value="1" title="Удалить"></td>
</tr>
<?php } ?>
<tr id="property_row_add_onetoone">
<input type="hidden" name="propertyClass_add_onetoone" value="OneToOneProperty">
	<td><input type="checkbox" name="isShow_add_onetoone" value="1" title="Выбрать"></td>
	<td><input type="checkbox" name="isRequired_add_onetoone" value="1" title="Выбрать"></td>
	<td><input type="text" class="item-name" name="propertyDescription_add_onetoone" value=""></td>
	<td><input type="text" class="item-name" name="propertyName_add_onetoone" value=""></td>
	<td><?php if($currentItem->getClassType() == 'default') {?><a id="parameterListButton_add_onetoone" href="" target="_blank" title="Параметры поля" style="display: none;"><img src="img/ico_popup.gif" alt="Параметры поля"></a><?php }?></td>
	<td><select name="fetchClass_add_onetoone" class="prop-select" style="width: 210px;"><option value="">- Выберите объект -</option><option value="Root">Корневой раздел</option><?php foreach($fetchClassList as $item) {?><option value="<?=$item->getItemName()?>"><?=$item->getItemDescription()?></option><?php }?></select></td>
	<td><select name="fetchStrategyId_add_onetoone" class="prop-select" style="width: 75px;"><option value="<?=FetchStrategy::JOIN?>">JOIN</option><option value="<?=FetchStrategy::CASCADE?>">CASCADE</option><option value="<?=FetchStrategy::LAZY?>">LAZY</option></select></td>
	<td><select name="onDelete_add_onetoone" class="prop-select" style="width: 75px;"><?php foreach(Property::getOnDeleteActionList() as $actionName => $actionDescription) {?><option value="<?=$actionName?>"><?=$actionDescription?></option><?php }?></select></td>
	<td class="center"><input type="checkbox" name="drop_add_onetoone" value="1" title="Удалить" style="display: none;"></td>
</tr>
</table>
<br>

<!-- Связи 1:N -->

<div class="order_link order_item_field">
<a href="<?=$baseUrl?>?module=PropertyOrder&itemId=<?=$currentItem->getId()?>" order="true" title="Изменить порядок объектов"><img src="img/ico_order_sm.gif" width="15" height="15" alt="Откроется в новом окне" title="Откроется в новом окне">&nbsp;<em>Связи 1:N</em></a>:
</div><br class="both">

<table id="property_table_onetomany" class="elements-list">
<tr>
	<th width="66%">Описание поля</th>
	<th width="33%">Название</th>
	<th>Объект</th>
	<th class="width-25"><img src="img/ico_del.png" alt="Удалить"></th>
</tr>
<?php foreach($propertyList as $property) { ?>
<?php if($property->getPropertyClass() != 'OneToManyProperty') continue;?>
<input type="hidden" name="propertyClass_<?=$property->getId()?>" value="OneToManyProperty">
<tr id="property_row_<?=$property->getId()?>">
	<td><input type="text" class="item-name" name="propertyDescription_<?=$property->getId()?>" value="<?=$property->getPropertyDescription()?>"></td>
	<td><input type="text" class="item-name" name="propertyName_<?=$property->getId()?>" value="<?=$property->getPropertyName()?>"></td>
	<td><select name="fetchClass_<?=$property->getId()?>" class="prop-select" style="width: 210px;"><?php foreach($fetchClassList as $item) {?><option value="<?=$item->getItemName()?>"<?=$item->getItemName() == $property->getFetchClass() ? ' selected' : ''?>><?=$item->getItemDescription()?></option><?php }?></select></td>
	<td class="center"><input type="checkbox" name="drop_<?=$property->getId()?>" value="1" title="Удалить"></td>
</tr>
<?php } ?>
<tr id="property_row_add_onetomany">
	<td><input type="text" class="item-name" name="propertyDescription_add_onetomany" value=""></td>
	<td><input type="text" class="item-name" name="propertyName_add_onetomany" value=""></td>
	<td><select name="fetchClass_add_onetomany" class="prop-select" style="width: 210px;"><option value="">- Выберите объект -</option><?php foreach($fetchClassList as $item) {?><option value="<?=$item->getItemName()?>"><?=$item->getItemDescription()?></option><?php }?></select></td>
	<td class="center"><input type="checkbox" name="drop_add_onetomany" value="1" title="Удалить" style="display: none;"></td>
</tr>
</table>
<br>

<!-- Связи N:N -->

<div class="order_link order_item_field">
<a href="<?=$baseUrl?>?module=PropertyOrder&itemId=<?=$currentItem->getId()?>" order="true" title="Изменить порядок объектов"><img src="img/ico_order_sm.gif" width="15" height="15" alt="Откроется в новом окне" title="Откроется в новом окне">&nbsp;<em>Связи N:N</em></a>:
</div><br class="both">

<table id="property_table_manytomany" class="elements-list">
<tr>
	<th width="66%">Описание поля</th>
	<th width="33%">Название</th>
	<th>Объект</th>
	<th class="width-25"><img src="img/ico_del.png" alt="Удалить"></th>
</tr>
<?php foreach($propertyList as $property) { ?>
<?php if($property->getPropertyClass() != 'ManyToManyProperty') continue;?>
<input type="hidden" name="propertyClass_<?=$property->getId()?>" value="ManyToManyProperty">
<tr id="property_row_<?=$property->getId()?>">
	<td><input type="text" class="item-name" name="propertyDescription_<?=$property->getId()?>" value="<?=$property->getPropertyDescription()?>"></td>
	<td><input type="text" class="item-name" name="propertyName_<?=$property->getId()?>" value="<?=$property->getPropertyName()?>"></td>
	<td><select name="fetchClass_<?=$property->getId()?>" class="prop-select" style="width: 210px;"><?php foreach($fetchClassList as $item) {?><option value="<?=$item->getItemName()?>"<?=$item->getItemName() == $property->getFetchClass() ? ' selected' : ''?>><?=$item->getItemDescription()?></option><?php }?></select></td>
	<td class="center"><input type="checkbox" name="drop_<?=$property->getId()?>" value="1" title="Удалить"></td>
</tr>
<?php } ?>
<tr id="property_row_add_manytomany">
	<td><input type="text" class="item-name" name="propertyDescription_add_manytomany" value=""></td>
	<td><input type="text" class="item-name" name="propertyName_add_manytomany" value=""></td>
	<td><select name="fetchClass_add_manytomany" class="prop-select" style="width: 210px;"><option value="">- Выберите объект -</option><?php foreach($fetchClassList as $item) {?><option value="<?=$item->getItemName()?>"><?=$item->getItemDescription()?></option><?php }?></select></td>
	<td class="center"><input type="checkbox" name="drop_add_manytomany" value="1" title="Удалить" style="display: none;"></td>
</tr>
</table>
<br>