<?php $partViewer->view("include/header.small");?>

<script type="text/javascript" src="<?=PATH_WEB_JS?>order.js"></script>
<script type="text/javascript">
$(function() {
	LT.Common.mainForm = $('#ItemOrderForm');

	LT.Common.mainForm.submit(function() {
		LT.Common.ajaxSubmit(function() {
			if(window.opener) {
				window.opener.document.location.href = window.opener.document.location.href;
				window.close();
			}
		});
		return false;
 	});
});
</script>

<h2 class="h2_marg">Список объектов</h2>

<form id="ItemOrderForm" name="ItemOrderForm" action="<?=$baseUrl?>?module=ItemOrder&action=save" method="post">

<select name="show" size="14" border="0" style="width: 100%;">
<?php foreach($itemList as $item) {?>
<option value="<?=$item->getId()?>"><?=$item->getItemDescription()?> (<?=$item->getItemName()?>)</option>
<?php }?>
</select>

<?php foreach($itemList as $k => $item) {?>
<input type="hidden" name="orderList[<?=$item->getId()?>]" value="<?=$k?>">
<?php }?>
<div class="m-all">
<img src="img/0.gif" id="order_first" width="53" height="45" alt="Расположить первым" title="Расположить первым">
<img src="img/0.gif" id="order_up" width="38" height="45" alt="Передвинуть выше" title="Передвинуть выше">
<img src="img/0.gif" id="order_down" width="36" height="45" alt="Передвинуть ниже" title="Передвинуть ниже">
<img src="img/0.gif" id="order_last" width="49" height="45" alt="Расположить последним" title="Расположить последним">
</div>
<br>

<input class="btn" type="submit" id="save_button" value="Ctrl+S Сохранить"></div></div>
</form>

<?php $partViewer->view("include/footer");?>