<table cellpadding="0" cellspacing="0" width="98%" class="forms">
<tr>
	<td width="33%">Название:</td>
	<td width="33%">Класс объекта:</td>
	<td width="33%">Наследовать класс объекта:</td>
</tr>
<tr>
	<td><input type="text" name="itemDescription" value="<?=$currentItem->getItemDescription()?>"></td>
	<td><input type="text" name="itemName" value="<?=$currentItem->getItemName()?>"<?=$mode == 'edit' ? ' disabled="true"' : ''?>></td>
	<td><select name="parentClass" style="width: 90%;"><option value="">Базовый класс (Element)</option><?php foreach($extendableClassList as $item) {?><option value="<?=$item->getItemName()?>"<?=$item->getItemName() == $currentItem->getParentClass() ? ' selected' : ''?>><?=$item->getItemDescription()?> (<?=$item->getItemName()?>)</option><?php }?></select></td>
</tr>
</table>
<br>