<table cellpadding="0" cellspacing="0" width="98%" class="forms">
<tr>
	<td width="33%">Название:</td>
	<td width="33%">Класс объекта:</td>
	<td width="33%">Наследовать класс:</td>
</tr>
<tr>
	<td><input type="text" name="itemDescription" value="<?=$currentItem->getItemDescription()?>"></td>
	<td><input type="text" name="itemName" value="<?=$currentItem->getItemName()?>"<?=$mode == 'edit' ? ' disabled="true"' : ''?>></td>
	<td><input type="text" name="parentClass" value="<?=$currentItem->getParentClass()?>"></td>
</tr>
</table>
<br>

<table cellpadding="0" cellspacing="0" width="98%" class="forms">
<tr>
	<td width="33%">Родительское поле:</td>
	<td width="33%"><a href="<?=$baseUrl?>?module=ParameterList&itemId=<?=$currentItem->getId()?>&propertyName=elementName" onclick="LT.Common.windowOpen(this.href, 'ParameterList', 400, 500); return false;" title="Параметры поля">Главное поле</a>:</td>
	<td width="33%">Название в адресной строке:</td>
</tr>
<tr>
	<td><select name="parentProperty" style="width: 90%;"><option value="">- Выберите поле-</option><?php foreach($propertyList as $property) { ?><?php if($property->getPropertyClass() != 'OneToOneProperty') continue;?><option value="<?=$property->getId()?>"<?=$property->getIsParent() ? ' selected' : ''?>><?=$property->getPropertyDescription()?> (<?=$property->getPropertyName()?>)</option><?php }?></select></td>
	<td><input type="text" name="mainPropertyDescription" value="<?=$currentItem->getMainPropertyDescription() ? $currentItem->getMainPropertyDescription() : 'Название'?>"></td>
	<td><input type="text" name="pathPrefix" value="<?=$currentItem->getPathPrefix()?>"></td>
</tr>
</table>
<br>

<table cellpadding="0" cellspacing="0" width="98%" class="forms">
<tr>
	<td width="33%">Сортировка по умолчанию:</td>
	<td width="33%">Количество на страницу:</td>
	<td width="33%"></td>
</tr>
<tr>
	<td><select name="orderField" style="width: 65%;">
<option value="elementOrder"<?=$currentItem->getOrderField() == 'elementOrder' ? ' selected' : '';?>>В порядке добавления</option>
<option value="elementName"<?=$currentItem->getOrderField() == 'elementName' ? ' selected' : '';?>><?=$mode == 'edit' ? $currentItem->getMainPropertyDescription() : 'Название'?></option>
<?php foreach($propertyList as $property) { ?>
<option value="<?=$property->getPropertyName()?>"<?=$currentItem->getOrderField() == $property->getPropertyName() ? ' selected' : '';?>><?=$property->getPropertyDescription();?></option>
<?php } ?></select> <select name="orderDirection" style="width: 25%;">
<option value="0"<?=$currentItem->getOrderDirection() == false ? ' selected' : ''?>>ASC</option>
<option value="1"<?=$currentItem->getOrderDirection() == true ? ' selected' : ''?>>DESC</option>
</select></td>
	<td><input type="text" name="perPage" value="<?=$currentItem->getPerPage()?>"></td>
	<td></td>
</tr>
</table>
<br>

<table cellpadding="0" cellspacing="0" width="98%" class="forms">
<tr>
	<td width="33%"></td>
	<td width="33%"></td>
	<td width="33%"></td>
</tr>
<tr>
	<td><input type="checkbox" id="isUpdatePath" name="isUpdatePath" value="1"<?=$currentItem->getIsUpdatePath() ? ' checked' : ''?> style="width: 15px;"> <label for="isUpdatePath">Обновлять адресную строку</label></td>
	<td><input type="checkbox" id="isFolder" name="isFolder" value="1"<?=$currentItem->getIsFolder() ? ' checked' : ''?> style="width: 15px;"> <label for="isFolder">Показывать в дереве</label></td>
	<td><input type="checkbox" id="isSearch" name="isSearch" value="1"<?=$currentItem->getIsSearch() ? ' checked' : ''?> style="width: 15px;"> <label for="isSearch">Показывать в поиске</label></td>
</tr>
</table>
<br>