<?php $partViewer->view('include/header');?>

<style>
span.selected {background-color: #ABCA96; border-bottom: none;}
span.marked {background-color: #DAFA77;}
</style>

<script type="text/javascript">
$(function() {
	$('#dateFrom').calendar({
		triggerElement: '#dateFromDisplay',
		dateFormat: '%Y-%m-%d',
		selectHandler: function() {
			$('#dateFromDisplay').html(this.date.print('%d.%m.%Y'));
			$('#dateFrom').val(this.date.print('%Y-%m-%d'));
			$('span[date=true]').removeClass('selected').each(function() {
				if(
					$('#dateFrom').val() == $(this).attr('dateFromValue')
					&& $('#dateTo').val() == $(this).attr('dateToValue')
				) {
					$(this).addClass('selected');
				}
			});
		}
	});

	$('#dateTo').calendar({
		triggerElement: '#dateToDisplay',
		dateFormat: '%Y-%m-%d',
		selectHandler: function() {
			$('#dateToDisplay').html(this.date.print('%d.%m.%Y'));
			$('#dateTo').val(this.date.print('%Y-%m-%d'));
			$('span[date=true]').removeClass('selected').each(function() {
				if(
					$('#dateFrom').val() == $(this).attr('dateFromValue')
					&& $('#dateTo').val() == $(this).attr('dateToValue')
				) {
					$(this).addClass('selected');
				}
			});
		}
	});

	$('span[date=true]').click(function() {
		$('#dateFrom').val($(this).attr('dateFromValue'));
		$('#dateFromDisplay').html($(this).attr('dateFromDisplay'));
		$('#dateTo').val($(this).attr('dateToValue'));
		$('#dateToDisplay').html($(this).attr('dateToDisplay'));
		$('span[date=true]').removeClass('selected');
		$(this).addClass('selected');
	});
});
</script>

<!-- path block -->
<div class="path_top"><div><img src="img/path01.gif" width="5" height="8" alt=""></div></div>
<div class="path" admintitle="<?=isset($currentUser) ? 'Журнал операций пользователя : '.$currentGroup->getGroupDescription().' : '.$currentUser->getUserName() : 'Журнал операций пользователей'?>">
<?php if(isset($currentUser)) {?>
<a href="<?=$baseUrl?>?module=GroupList">Управление пользователями</a> &nbsp;<img src="img/path_arr2.gif" alt="">
<?php 	foreach($parentList as $parent) {?>
<a href="<?=$baseUrl?>?module=GroupList&groupId=<?=$parent->getId()?>"><?=$parent->getGroupDescription()?></a> &nbsp;<img src="img/path_arr2.gif" alt="">
<?php 	}?>
<a href="<?=$baseUrl?>?module=GroupList&groupId=<?=$currentGroup->getId()?>"><?=$currentGroup->getGroupDescription()?></a> &nbsp;<img src="img/path_arr2.gif" alt=""> <?=$currentUser->getUserName()?>
<?php } else {?>
<a href="<?=$baseUrl?>?module=GroupList">Управление пользователями</a> &nbsp;<img src="img/path_arr2.gif" alt=""> Журнал операций пользователей
<?php }?>
</div>
<div class="path_bottom"><div><img src="img/path04.gif" width="5" height="8" alt=""></div></div>
<!-- end of path block -->

<br>

<div class="order_link">
<?php if($pager->getPageCount() > 1) {?>страница <?=$pager->getCurrentPage()?> из <?=$pager->getPageCount()?>; <?php }?>всего <?=$pager->getTotal().' '.RussianTextUtils::selectCaseForNumber($pager->getTotal(), array('операция', 'операции', 'операций'))?>
</div>

<?php if($currentUser) {?>
<h2 class="h2_marg" title="Журнал операций пользователя <?=$currentUser->getUserName()?>">Журнал операций пользователя <a href="<?=$baseUrl?>?module=UserEdit&userId=<?=$currentUser->getId()?>"><span class="grey"><?=$currentUser->getUserName()?></span></a></h2>
<?php } else {?>
<h2 class="h2_marg" title="Журнал операций пользователей">Журнал операций пользователей</h2>
<?php }?>

<form name="UserActionListForm" action="<?=$baseUrl?>">
<input type="hidden" name="module" value="UserActionList">
<?php if($currentUser) {?><input type="hidden" name="userId" value="<?=$currentUser->getId()?>"><?php }?>
<input type="hidden" id="dateFrom" name="dateFrom" value="<?=$dateFrom->toDate()?>">
<input type="hidden" id="dateTo" name="dateTo" value="<?=$dateTo->toDate()?>">

<div class="record_block_top"><div><img src="img/edit01.gif" width="12" height="12" alt=""></div></div>
<div class="record_block">

Тип операции:<br>
<select name="actionType"><option value=""<?=!$actionTypeId ? ' selected' : ''?>>- Все типы -</option>
<?php foreach($actionTypeList as $id => $title) {?><option value="<?=$id?>"<?=$actionTypeId == $id ? ' selected' : ''?>><?=$title?></option><?php }?></select><br><br>

Комментарий содержит:<br>
<input type="text" name="text" value="<?=$text?>" style="width: 50%"><br><br>

Дата операции:<br>
<span date="true" class="dashed hand<?=$today->toDate() == $dateFrom->toDate() && $today->toDate() == $dateTo->toDate() ? ' selected' : ''?>" dateFromValue="<?=$today->toDate()?>" dateFromDisplay="<?=$today->getDay()?>.<?=$today->getMonth()?>.<?=$today->getYear()?>" dateToValue="<?=$today->toDate()?>" dateToDisplay="<?=$today->getDay()?>.<?=$today->getMonth()?>.<?=$today->getYear()?>">сегодня</span>,&nbsp;
<span date="true" class="dashed hand<?=$yesterday->toDate() == $dateFrom->toDate() && $yesterday->toDate() == $dateTo->toDate() ? ' selected' : ''?>" dateFromValue="<?=$yesterday->toDate()?>" dateFromDisplay="<?=$yesterday->getDay()?>.<?=$yesterday->getMonth()?>.<?=$yesterday->getYear()?>" dateToValue="<?=$yesterday->toDate()?>" dateToDisplay="<?=$yesterday->getDay()?>.<?=$yesterday->getMonth()?>.<?=$yesterday->getYear()?>">вчера</span>,&nbsp;
<span date="true" class="dashed hand<?=$week->toDate() == $dateFrom->toDate() && $today->toDate() == $dateTo->toDate() ? ' selected' : ''?>" dateFromValue="<?=$week->toDate()?>" dateFromDisplay="<?=$week->getDay()?>.<?=$week->getMonth()?>.<?=$week->getYear()?>" dateToValue="<?=$today->toDate()?>" dateToDisplay="<?=$today->getDay()?>.<?=$today->getMonth()?>.<?=$today->getYear()?>">за неделю</span>,&nbsp;
<span date="true" class="dashed hand<?=$month->toDate() == $dateFrom->toDate() && $today->toDate() == $dateTo->toDate() ? ' selected' : ''?>" dateFromValue="<?=$month->toDate()?>" dateFromDisplay="<?=$month->getDay()?>.<?=$month->getMonth()?>.<?=$month->getYear()?>" dateToValue="<?=$today->toDate()?>" dateToDisplay="<?=$today->getDay()?>.<?=$today->getMonth()?>.<?=$today->getYear()?>">за месяц</span>,&nbsp;
<span date="true" class="dashed hand<?=$total->toDate() == $dateFrom->toDate() && $today->toDate() == $dateTo->toDate() ? ' selected' : ''?>" dateFromValue="<?=$total->toDate()?>" dateFromDisplay="<?=$total->getDay()?>.<?=$total->getMonth()?>.<?=$total->getYear()?>" dateToValue="<?=$today->toDate()?>" dateToDisplay="<?=$today->getDay()?>.<?=$today->getMonth()?>.<?=$today->getYear()?>">за все время</span>,&nbsp;
от <span id="dateFromDisplay" class="dashed hand"><?=$dateFrom->getDay()?>.<?=$dateFrom->getMonth()?>.<?=$dateFrom->getYear()?></span>&nbsp;
до <span id="dateToDisplay" class="dashed hand"><?=$dateTo->getDay()?>.<?=$dateTo->getMonth()?>.<?=$dateTo->getYear()?></span><br><br>

<input class="btn" type="submit" value="Найти" style="width: 100px;">

</div>
<div class="record_block_bottom"><div><img src="img/edit04.gif" width="12" height="12" alt=""></div></div>

</form>
<br>

<?php if($sizeofUserActionList) {?>

<table class="elements-list">
<tr>
<?php if(!$currentUser) {?><th width="10%">Пользователь</th><?php }?>
<th width="30%">Тип операции</th>
<th width="50%">Комментарий</th>
<th width="10%">Дата</th>
</tr>
<?php 	foreach($userActionList as $userAction) {?>
<?php
$comments = $userAction->getComments();
$comments = $text ? str_replace($text, '<span class="marked">'.$text.'</span>', $comments) : $comments;
$comments = nl2br($comments);
?>
<tr>
<?php if(!$currentUser) {?><td><a href="<?=$baseUrl?>?module=UserEdit&userId=<?=$userAction->getUser()->getId()?>"><?=$userAction->getUser()->getUserName()?></a></td><?php }?>
<td><a href="<?=$userAction->getUrl()?>"><?=$userAction->getActionTypeName()?></a></td>
<td><?=$comments?></td>
<td><?=$userAction->getDate()->toString()?></td>
</tr>
<?php 	}?>
</table>
<br>

<?php if($pager->getPageCount() > 1) {?>
<div class="pager"><span>Страницы:</span>
<?php if($pager->hasPrevPage()) {?><a id="prevPage" href="<?=$baseUrl?>?<?=UrlUtils::create()->getUrlWithoutParameter('page')?>page=<?=$pager->getPrevPage()?>" title="Предыдущая страница">&larr;</a><?php }?>
<?php if($pager->hasPrevPart()) {?><a id="prevPart" href="<?=$baseUrl?>?<?=UrlUtils::create()->getUrlWithoutParameter('page')?>page=<?=$pager->getPrevPart()?>">&hellip;</a><?php }?>
<?php foreach($pager->getLimitedPageList() as $page) {?>
<?php 	if($page == $pager->getCurrentPage()) {?><b><?=$page?></b><?php } else {?><a href="<?=$baseUrl?>?<?=UrlUtils::create()->getUrlWithoutParameter('page')?>page=<?=$page?>"><?=$page?></a><?php }?>
<?php }?>
<?php if($pager->hasNextPart()) {?><a id="nextPart" href="<?=$baseUrl?>?<?=UrlUtils::create()->getUrlWithoutParameter('page')?>page=<?=$pager->getNextPart()?>">&hellip;</a><?php }?>
<?php if($pager->hasNextPage()) {?><a id="nextPage" href="<?=$baseUrl?>?<?=UrlUtils::create()->getUrlWithoutParameter('page')?>page=<?=$pager->getNextPage()?>" title="Следующая страница">&rarr;</a><?php }?>
</div>
<br class="both"><br>
<?php }?>

<?php } else {?>

<p>Операций не найдено.</p>

<?php }?>

<?php $partViewer->view('include/footer');?>