<script type="text/javascript">
$(function() {
	$('#<?=$propertyName?>_from').calendar({
		triggerElement: '#<?=$propertyName?>_from_show',
		dateFormat: '%Y-%m-%d',
		showHandler: function() { $('#<?=$propertyName?>_from').focus(); }
	});
	$('#<?=$propertyName?>_to').calendar({
		triggerElement: '#<?=$propertyName?>_to_show',
		dateFormat: '%Y-%m-%d',
		showHandler: function() { $('#<?=$propertyName?>_to').focus(); }
	});
});
</script>
<span switch="true" name="<?=$propertyName?>" class="dashed hand"><?=$propertyDescription?></span>:<br>
<div id="<?=$propertyName?>_block" style="display: <?=$open ? 'block' : 'none'?>">
с <input type="text" class="prop-mini" id="<?=$propertyName?>_from" name="<?=$propertyName?>_from" value="<?=$from ? $from->toDate() : ''?>"<?=$open ? '' : ' disabled="true"'?> style="width: 75px;"> <span id="<?=$propertyName?>_from_show" class="hand"><img border="0" alt="↓" src="<?=PATH_WEB_IMG?>calendar.gif" title="" /></span>
по <input type="text" class="prop-mini" id="<?=$propertyName?>_to" name="<?=$propertyName?>_to" value="<?=$to ? $to->toDate() : ''?>"<?=$open ? '' : ' disabled="true"'?> style="width: 75px;"> <span id="<?=$propertyName?>_to_show" class="hand"><img border="0" alt="↓" src="<?=PATH_WEB_IMG?>calendar.gif" title="" /></span>
</div>