<?=$propertyDescription?>:&nbsp;<span id="<?=$propertyName?>_show" class="dashed" style="cursor: pointer;"><?=sprintf('%d&nbsp;%s %04d года', $value->getDay(), RussianTextUtils::getMonthInGenitiveCase($value->getMonth()), $value->getYear())?></span>
<input type="hidden" id="<?=$propertyName?>" name="<?=$propertyName?>" value="<?=$value->toString()?>">
<script type="text/javascript">
Calendar.setup({
	inputField: "<?=$propertyName?>",
	ifFormat: "%Y-%m-%d",
	displayArea: "<?=$propertyName?>_show",
	daFormat: "%e %G %Y года",
	align: "tR",
	weekNumbers: false,
	singleClick: true
});
</script>
<br><br>