<?=$propertyDescription?>:<br>
<?php if($exists) {?>
<table><tr valign="top">
<td><span class="mini">Загружено изображение: <a class="dark_grey" href="<?=$path?>" target="_blank"><?=$filename?></a>, <span title="Размер изображения"><?=$width?>&#215;<?=$height?></span> пикселов, <?=$filesize_kb?> Кб</span><br>
<img class="pict" src="<?=$path?>?random='.md5(rand()).'" width="<?=$width?>" height="<?=$height?>" alt=""><br></td>
<?php 	if($thumbnail_exists) {?>
<td><span class="mini">Загружен тумбнайл: <a class="dark_grey" href="<?=$thumbnail_path?>" target="_blank"><?=$thumbnail_filename?></a>, <span title="Размер изображения"><?=$thumbnail_width?>&#215;<?=$thumbnail_height?></span> пикселов, <?=$thumbnail_filesize_kb?> Кб</span><br>
<img class="pict" src="<?=$thumbnail_path?>?random='.md5(rand()).'" width="<?=$thumbnail_width?>" height="<?=$thumbnail_height?>" alt=""><br></td>
<?php 	}?>
</tr></table>
<?php }?>
<script type="text/javascript">
$(function() {
	$('input:file[name=<?=$propertyName?>]').change(function() {
		$('input:checkbox[name=<?=$propertyName?>_drop]').each(function() {this.checked = false;});
	});
	$('input:checkbox[name=<?=$propertyName?>_drop]').click(function() {
		if(this.checked) {
			$('input:file[name=<?=$propertyName?>]').val('');
		}
	});
});
</script>
<input type="file" name="<?=$propertyName?>" value="<?=$value?>" class="file-field"><br>
<?php if($maxFilesizeKb > 0) {?><small class="red">Максимальный размер файла <?=$maxFilesizeKb?> Кб</small><br><?php }?>
<?php if($maxWidth > 0 && $maxHeight > 0) {?><small class="red">Максимальный размер изображения <?=$maxWidth?>&#215;<?=$maxHeight?> пикселей</small><br>
<?php } elseif($maxWidth > 0) {?><small class="red">Максимальная ширина изображения <?=$maxWidth?> пикселей</small><br>
<?php } elseif($maxHeight > 0) {?><small class="red">Максимальная высота изображения <?=$maxHeight?> пикселей</small><br>
<?php }?>
<?php if($exists) {?><div class="file_del_check"><input type="checkbox" id="<?=$propertyName?>_drop" name="<?=$propertyName?>_drop" value="1" title="Удалить"><label for="<?=$propertyName?>_drop">Удалить</label></div><?php }?>
<br>