<?php if(!$readonly && sizeof($tree)) {?>

<script type="text/javascript">
$(function() {
<?php 	if($plainList) {?>

<?php 		foreach($tree as $element) {?>
	LT.LinkTree.addPlainElement('<?=$propertyName?>', '<?=$element['elementId']?>', '<?=addslashes($element['elementName'])?>', <?=$element['isActive']?>);
<?php 		}?>
	LT.LinkTree.buildPlainList('<?=$propertyName?>', 'root');

<?php 	} elseif($node instanceof Element) {?>

<?php 		foreach($tree as $element) {?>
	LT.LinkTree.addElement('<?=$propertyName?>', '<?=$element['parentId']?>', '<?=$element['elementId']?>', '<?=addslashes($element['elementName'])?>', <?=$element['isActive']?>, <?=$element['isOpen']?>, <?=$element['isRadio']?>);
<?php 		}?>
	LT.LinkTree.buildBranch('<?=$propertyName?>', '<?=$node->getPolymorphicId()?>');

<?php 	}?>

	$('#<?=$propertyName?>_description').click(function() {
		$('#<?=$propertyName?>_block').slideToggle('fast');
	});

	$('#<?=$propertyName?>_check_0').click(function() {
		$('#<?=$propertyName?>_block').slideToggle('fast', function() {
			$('#<?=$propertyName?>_description').html('Не определено');
		});
	});
});
</script>

<?=$propertyDescription?>:
<?php 	if($value) {?>
<span id="<?=$propertyName?>_description" class="dashed hand"><?=$value->getAlterName()?></span><br>
<?php 	} else {?>
<span id="<?=$propertyName?>_description" class="dashed hand">Не определено</span><br>
<?php 	}?>
<div id="<?=$propertyName?>_block" class="prop_block" style="overflow-y: scroll; display: none;" overflow="true">
<img src="img/p.gif" width="11" height="11" alt=""><input type="radio" id="<?=$propertyName?>_check_0" name="<?=$propertyName?>" value=""<?=$checked?> title="Выбрать"><label for="<?=$propertyName?>_check_0">&nbsp;Не определено</label>
<div id="<?=$propertyName?>_branch_<?=$plainList ? 'root' : $node->getPolymorphicId()?>"></div>
</div><br>

<?php } elseif($value instanceof Root) {?>

<?=$propertyDescription?>:
<input type="hidden" name="<?=$propertyName?>" value="<?=$value->getId()?>">
<a href="<?=PATH_ADMIN_BROWSE.'?module=ElementEdit&elementId='.$value->getPolymorphicId()?>"><?=$value->getAlterName()?></a><br><br>

<?php } else {?>

<?=$propertyDescription?>:
<input type="hidden" name="<?=$propertyName?>" value="<?=$value ? $value->getId() : null?>">
<?php if($value) {?><span id="<?=$propertyName?>_show"><a href="<?=PATH_ADMIN_BROWSE.'?module=ElementEdit&elementId='.$value->getPolymorphicId()?>" title="<?=$value->getItem()->getItemDescription()?>"><?=$value->getAlterName()?></a></span><?php } else {?><span id="<?=$propertyName?>_show">не определено</span><?php } ?>
<?php if(!$readonly) {?>&nbsp;&nbsp;<input type="text" id="<?=$propertyName?>_name" onetoone="name" itemId="<?=$fetchItem ? $fetchItem->getId() : null?>" propertyName="<?=$propertyName?>" main="Введите ID или название" name="<?=$propertyName?>_name" value="Введите ID или название" class="prop-mini" style="width: 300px; color: grey;">&nbsp;&nbsp;<span id="<?=$propertyName?>_reset" onetoone="reset" propertyName="<?=$propertyName?>" class="dashed hand">Очистить</span><?php }?>
<br><br>

<?php }?>