<span switch="true" name="<?=$propertyName?>" class="dashed hand"><?=$propertyDescription?></span><span id="<?=$propertyName?>_sign" class="grey" style="display: <?=$value ? 'inline' : 'none'?>;"> (введите ID или название)</span>:<br>
<div id="<?=$propertyName?>_block" style="display: <?=$value ? 'block' : 'none'?>">
<input type="hidden" id="<?=$propertyName?>" name="<?=$propertyName?>" value="<?=$value ? $value->getId() : null?>"<?=$value ? '' : ' disabled="true"'?>>
ID <span id="<?=$propertyName?>_show"><?=$value ? $value->getId() : 'не определен'?></span>
&nbsp;&nbsp;<input type="text" onetoone="name" itemId="<?=$fetchItem->getId()?>" propertyName="<?=$propertyName?>" main="" class="prop" name="<?=$propertyName?>_name" value="<?=$value ? $value->getAlterName() : ''?>" style="width: 50%;">
&nbsp;&nbsp;<span id="<?=$propertyName?>_reset" onetoone="reset" propertyName="<?=$propertyName?>" class="dashed hand">Очистить</span>
</div>