<script type="text/javascript">
$(function() {
	LT.Point.init('<?=$propertyName?>', <?=$x?>, <?=$y?>);
});
</script>

<?=$propertyDescription?>: <span id="<?=$propertyName?>_hint"><?=$value ? $x.'&#215;'.$y : 'Не определено'?></span><br>
<input type="hidden" id="<?=$propertyName?>" name="<?=$propertyName?>" value="<?=$value?>">
<table cellpadding="0" cellspacing="0" width="90%"><tr><td><div style="position: relative;">
<img id="<?=$propertyName?>_map" src="<?=$mapImagePath?>" width="<?=$mapImageWidth?>" height="<?=$mapImageHeight?>" style="border: 1px solid #999; background-color: white; cursor: crosshair;" alt="<?=$propertyDescription?>">
<img id="<?=$propertyName?>_point" src="<?=$pointImagePath?>" width="<?=$pointImageWidth?>" height="<?=$pointImageHeight?>" style="position: absolute; visibility: hidden; z-index: 10; cursor: crosshair;" alt="<?=$value?>" title="<?=$value?>">
<input type="text" id="<?=$propertyName?>_inputfocus" name="<?=$propertyName?>_inputfocus" value="" style="position: relative; top: -<?=round($mapImageHeight / 2)?>px; z-index: -100; width: 1px;">
<br><span id="<?=$propertyName?>_reset" class="hand dashed">Вернуть</span>&nbsp;&nbsp;&nbsp;<span id="<?=$propertyName?>_unset" class="hand dashed">Удалить</span>&nbsp;&nbsp;&nbsp;<span id="<?=$propertyName?>_move" class="hand dashed">Передвинуть</span>&nbsp;(&larr; &uarr; &darr; &rarr;)
</div></td></tr></table><br>