<script type="text/javascript">
$(function() {
	$('input[name^=<?=$propertyName?>]').change(function() {
		$('input[name=<?=$propertyName?>]').val(
			$('input[name=<?=$propertyName?>_hour]').val()+':'
			+$('input[name=<?=$propertyName?>_minute]').val()+':'
			+$('input[name=<?=$propertyName?>_second]').val()
		);
	}).keyup(function() {
		$('input[name=<?=$propertyName?>]').val(
			$('input[name=<?=$propertyName?>_hour]').val()+':'
			+$('input[name=<?=$propertyName?>_minute]').val()+':'
			+$('input[name=<?=$propertyName?>_second]').val()
		);
	});
});
</script>
<input type="hidden" name="<?=$propertyName?>" value="<?=$value->toString()?>">
<?=$propertyDescription?>:&nbsp;<input class="prop-time" type="text" name="<?=$propertyName?>_hour" value="<?=$value->getHour()?>" maxlength="2">&nbsp;:&nbsp;<input class="prop-time" type="text" name="<?=$propertyName?>_minute" value="<?=$value->getMinute()?>" maxlength="2">&nbsp;:&nbsp;<input class="prop-time" type="text" name="<?=$propertyName?>_second" value="<?=$value->getSecond()?>" maxlength="2"><br><br>