<?=$propertyDescription?>:&nbsp;<span id="<?=$propertyName?>_show" class="dashed" style="cursor: pointer;"><?=sprintf('%d&nbsp;%s %04d года, %02d:%02d', $value->getDay(), RussianTextUtils::getMonthInGenitiveCase($value->getMonth()), $value->getYear(), $value->getHour(), $value->getMinute())?></span>
<input type="hidden" id="<?=$propertyName?>" name="<?=$propertyName?>" value="<?=$value->toString()?>">
<script type="text/javascript">
Calendar.setup({
	inputField: "<?=$propertyName?>",
	ifFormat: "%Y-%m-%d %H:%M:%S",
	displayArea: "<?=$propertyName?>_show",
	daFormat: "%e %G %Y года, %H:%M",
	align: "tR",
	weekNumbers: false,
	showsTime: true,
	singleClick: true
});
</script>
<br><br>