<script type="text/javascript">
$(function() {
	$('#<?=$propertyName?>_date').calendar({
		triggerElement: '#<?=$propertyName?>_show',
		dateFormat: '%Y-%m-%d',
		selectHandler: function() {
			$('#<?=$propertyName?>_show').html(this.date.print('%e %G %Y года'));
			$('#<?=$propertyName?>_date').val(this.date.print(this.dateFormat));
			setTimestamp('<?=$propertyName?>');
		}
	});
});
</script>
<?php if(!$value) $value = Timestamp::makeNow();?>
<input type="hidden" id="<?=$propertyName?>" name="<?=$propertyName?>" value="<?=$value->toString()?>">
<input type="hidden" id="<?=$propertyName?>_date" name="<?=$propertyName?>_date" value="<?=$value->toDate()?>">
<?=$propertyDescription?>:&nbsp;<span id="<?=$propertyName?>_show" class="dashed" style="cursor: pointer;"><?=sprintf('%d %s %04d года', $value->getDay(), RussianTextUtils::getMonthInGenitiveCase($value->getMonth()), $value->getYear())?></span>,&nbsp;
<input class="prop-time" type="text" id="<?=$propertyName?>_hour" name="<?=$propertyName?>_hour" property="<?=$propertyName?>" timestamp="true" max="23" value="<?=sprintf('%02d', $value->getHour())?>" maxlength="2">&nbsp;:&nbsp;<input class="prop-time" type="text" id="<?=$propertyName?>_minute" name="<?=$propertyName?>_minute" property="<?=$propertyName?>" timestamp="true" max="59" value="<?=sprintf('%02d', $value->getMinute())?>" maxlength="2">&nbsp;:&nbsp;<input class="prop-time" type="text" id="<?=$propertyName?>_second" name="<?=$propertyName?>_second" property="<?=$propertyName?>" timestamp="true" max="59" value="<?=sprintf('%02d', $value->getSecond())?>" maxlength="2"><br><br>