<script type="text/javascript">
$(function() {
	LT.YandexMap.init('<?=$propertyName?>', <?=$centerX?>, <?=$centerY?>, <?=$scale?>);

<?php if($value) {?>
	LT.YandexMap.set('<?=$propertyName?>');
<?php }?>

	$('#<?=$propertyName?>_query').keydown(function(e) {
		if(!e) var e = window.event;
		if(e.keyCode) {
			var code = e.keyCode;
		} else if(e.which) {
			var code = e.which;
		}
		if(code == 13) {
			LT.YandexMap.search('<?=$propertyName?>');
			return false;
		}
	});

	$('#<?=$propertyName?>_search').click(function() {
		LT.YandexMap.search('<?=$propertyName?>');
	});

	$('#<?=$propertyName?>_set').click(function() {
		LT.YandexMap.set('<?=$propertyName?>');
	});

	$('#<?=$propertyName?>_unset').click(function() {
		LT.YandexMap.unset('<?=$propertyName?>');
	});
});
</script>

<input type="hidden" id="<?=$propertyName?>" name="<?=$propertyName?>" value="<?=$value?>">
<?=$propertyDescription?>:<br>
<table>
<tr valign="top">
<td><div id="<?=$propertyName?>_map" style="width: <?=$width?>px; height: <?=$height?>px; border: 1px solid #CCC;"></div></td>
<td><p>GPS-координаты метки: <span id="<?=$propertyName?>_hint"><?=$value ? $coords : 'не определено'?></span></p>
<p><table><tr><td>Поиск по адресу:<br><input type="text" id="<?=$propertyName?>_query" name="<?=$propertyName?>_query" value="" style="width: 250px;"></td><td><br><input type="button" id="<?=$propertyName?>_search" value="Найти" class="btn-sm"></td></tr></table></p>
<p><span id="<?=$propertyName?>_set" class="dashed hand">Поставить метку в центр</span><br>
<span id="<?=$propertyName?>_unset" class="dashed hand">Убрать метку</span></p></td>
</tr>
</table><br>