<?php
	$json = array();
	$error = array();

	if(isset($form) && $form->getErrors()) {

		$form->addMissingLabel('itemDescription', 'Не заполнено название объекта.');
		$form->addMissingLabel('itemName', 'Не заполнено название класса объекта.');

		$form->addWrongLabel('classType', 'Некорректное значение типа класса объекта.');
		$form->addWrongLabel('itemName', 'Некорректное название класса объекта.');
		$form->addWrongLabel('itemNameUnique', 'Название класса объекта должно быть уникальным.');
		$form->addWrongLabel('itemDescription', 'Длина описания объекта должна быть не более 255 символов.');
		$form->addWrongLabel('parentClass', 'Некорректный наследуемый класс.');

		switch ($form->getValue('classType')) {

			case 'abstract':
				break;

			case 'virtual':
				$form->addMissingLabel('tableName', 'Не заполнено название таблицы.');
				$form->addMissingLabel('controllerName', 'Не заполнено название контроллера.');

				$form->addWrongLabel('classSource', 'Некорректное значение источника данных объекта.');
				$form->addWrongLabel('tableName', 'Некорректное название таблицы.');
				$form->addWrongLabel('controllerName', 'Некорректное название контроллера.');
				$form->addWrongLabel('parentProperty', 'Некорректный идентификатор родительского поля.');
				break;

			case 'default': default:
				$form->addMissingLabel('tableName', 'Не заполнено название таблицы.');
				$form->addMissingLabel('controllerName', 'Не заполнено название контроллера.');
				$form->addMissingLabel('mainPropertyDescription', 'Не заполнено название главного поля.');
				$form->addMissingLabel('pathPrefix', 'Не заполнен префикс названия элементов в адресной строке.');

				$form->addWrongLabel('classSource', 'Некорректное значение источника данных объекта.');
				$form->addWrongLabel('tableName', 'Некорректное название таблицы.');
				$form->addWrongLabel('controllerName', 'Некорректное название контроллера.');
				$form->addWrongLabel('pluginName', 'Некорректное название плагина.');
				$form->addWrongLabel('filterName', 'Некорректное название фильтра.');
				$form->addWrongLabel('beforeInsert', 'Некорректное название класса, выполняющегося перед созданием элемента.');
				$form->addWrongLabel('afterInsert', 'Некорректное название класса, выполняющегося после создания элемента.');
				$form->addWrongLabel('beforeUpdate', 'Некорректное название класса, выполняющегося перед обновлением элемента.');
				$form->addWrongLabel('afterUpdate', 'Некорректное название класса, выполняющегося после обновления элемента.');
				$form->addWrongLabel('beforeDelete', 'Некорректное название класса, выполняющегося перед удалением элемента.');
				$form->addWrongLabel('afterDelete', 'Некорректное название класса, выполняющегося после удаления элемента.');
				$form->addWrongLabel('mainPropertyDescription', 'Длина названия главного поля должна быть не более 255 символов.');
				$form->addWrongLabel('parentProperty', 'Некорректный идентификатор родительского поля.');
				$form->addWrongLabel('pathPrefix', 'Некорректное название префикса.');
				$form->addWrongLabel('orderField', 'Некорректное значение поля сортировки по умолчанию.');
				$form->addWrongLabel('orderDirection', 'Некорректное значение направления сортировки по умолчанию.');
				$form->addWrongLabel('perPage', 'Количество элементов на страницу должно быть целым числом от 0 до 500.');
				break;
		}

		foreach($form->getTextualErrors() as $label) {
			$error[] = $label;
		}

	}

	if(isset($autoGeneration) && $autoGeneration == 'error') {
		$error[] = 'Произошла ошибка при генерации классов.';
	}

	if(isset($addItem) && $addItem == 'error') {
		$error[] = 'Произошла ошибка при добавлении объекта.';
	}

	$json['error'] = $error;

	$json['itemId'] = isset($item) ? $item->getId() : null;

	echo JsUtils::php2js($json);
?>