<?php
	$json = array();
	$error = array();

	if(isset($restrict) && $restrict == 'error') {
		$error[] = 'Некоторые элементы не могут быть удалены, пока существуют связанные с ними элементы.';
	}

	$json['error'] = $error;

	if(
		isset($elementListModelAndView)
		&& $elementListModelAndView instanceof ModelAndView
	) {
		$elementListContent = $elementListModelAndView->getView()->toString(
			$elementListModelAndView->getModel()
		);
		$json['elementListContent'] = str_replace(
			array('<', '>'),
			array('[[[', ']]]'),
			$elementListContent
		);
	} else {
		$json['elementListContent'] = null;
	}

	$json['itemId'] = isset($itemId) ? $itemId : null;
	$json['changed'] = isset($changed) ? $changed : array();
	$json['dropped'] = isset($dropped) ? $dropped : array();
	$json['restored'] = isset($restored) ? $restored : array();
	$json['tree'] = isset($tree) ? $tree : array();

	echo JsUtils::php2js($json);
?>